infra/n8n/workflows/booking-notification.json
{
  "name": "Booking Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cloudit-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b3b4e1c0-1a2b-4c3d-8e9f-0a1b2c3d4e5f",
      "name": "CloudIT Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "cloudit-events"
    },
    {
      "parameters": {
        "fromEmail": "bookings@cloudit.lk",
        "toEmail": "={{ $json.payload.guestEmail || 'guest@example.com' }}",
        "subject": "New Booking Confirmation - {{ $json.payload.reservationNumber }}",
        "text": "=A new booking has been created. Reservation: {{ $json.payload.reservationNumber }}, Guest: {{ $json.payload.guestName }}.",
        "options": {}
      },
      "id": "a1b2c3d4-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Send Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName": "Bookings",
        "options": {}
      },
      "id": "c2d3e4f5-6a7b-8c9d-0e1f-2a3b4c5d6e7f",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [500, 400]
    }
  ],
  "connections": {
    "CloudIT Webhook": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
